/*----------------------- applied to all elements or only the body -----------------------------*/

* {
    box-sizing: border-box;
} /*assures every element does not exceed its specified width and height*/
  
body {
    background-color: lightgray;
    /* display: flex;
    flex-direction: column;
    justify-content: center;*/
}



/*-------------------------------------- entire header -----------------------------------------*/

header { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed; /* fixes the header at the top of the page */
    top: 0; /*assures the header is 'touching' the top border of the page*/
    left: 0; /*assures the header is 'touching' the left border of the page*/
    z-index: 100; 
    width: 100%;
    height: 30vh;
    background-color: lightgray;
    border-top:  solid black 0.2rem;;
    border-bottom: solid black 0.2rem;
}

/*-------------------- title --------------------*/

#title-holder {
    display: flex;
    justify-content: center; /*centered flexbox is for centering the title and its border on the y-axis (which is the main axis)*/
    align-items: center; /*centered flexbox is for centering the title and its border on the cross axis (which is the x-axis)*/
    border-bottom: solid black 0.05rem;
    background-color: darkgrey;
    height: 20%;
}

#header-title {
    display: flex;
    justify-content: center; /*centered flexbox is for centering the title text inside of its border*/
    align-items: center;
    overflow: hidden;
    font-family: fantasy, monospace;
    border: solid black;
    border-radius: 10%;
    width: 15%;
    height: 72%;
}


/*------------ photo and contacts ---------------*/

#photo-and-contacts-holder{    
    display: flex;
    justify-content: space-around; /*flexbox is for displaying img and contacts horizontaly inside their parent (that has a column direction)*/
    height: 68.5%;    
}


/*---- photo ----*/

#photo-holder img {
    border-radius: 75%; 
    border: solid 0.2rem purple;
    height: 120%;
    z-index: 90;
}


/*---- contacts ----*/

#contacts-holder { 
    border-left: solid black 0.1rem;
    width: 50vh;
    
}

#contacts-holder ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#contacts-holder ul li {
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
}

#contacts-holder ul a { /*for having the links for the contacts and the social media logos being side-by-side*/
    display: flex;
    justify-content: left;
    font-size: large;
    padding-bottom: 0.5%;
    
}


.logo {
    max-width: 6.5%;
    border-radius: 30%;
    border: solid 0.1rem black;
}


/*----- menu -----*/

#menu-holder {
    width: 100%;
    border: solid purple 0.1rem;
    background-color: darkgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    height: 8%;
    z-index: 10;
    
}

#menu-holder ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;;
    list-style-type: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: purple;
    background-color: darkgrey;
}


/*---------------------------------------------main-------------------------------------------------*/

#page-wrapper {
    max-width: 60%;
    position: relative;
    top: 230px;
    margin: 0 auto;
    
}

main {
    z-index: 0;
}

.div-main {
    border-top: solid blue 0.1rem;
    width: 100%;
    left: 0;

}

/*footer*/
footer {
    background-color: aquamarine;
}


p:not(contact) {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}



/*----------------------------- applied to hyper-links -------------------------------------------------*/

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; background-color: yellow;}

a:active { text-decoration: none; }




/*-------------------------------- media-query ------------------------------------------------------*/

@media() {
  

}







