/* applied to all */  


body {
    background-color: lightgray;

}

/* header */
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid black 0.2rem;    
}

#photo-contact-holder{
    display: flex;
    justify-content: space-around;
}

#header-contacts {
    display: flex;
    flex-direction: column;
}

.contact{
    display: flex;
}

img {
    border-radius: 50%; /* search how to apply a 'round styling' to the image */
}

/*main*/

.div-main {
    border-top: solid blue 0.1rem;
}



/*footer*/
footer {
    background-color: aquamarine;

}



