/* ------------------------------ CSS variables declarations-------------------------------------*/

:root {
    --main-bg-color: lightgray;
    --second-bg-color: darkgray;
    --main-details-color: rgb(128, 0, 128);
    --second-details-color: blue;
}



/*--------------------------------- Universal and type selectors --------------------------------*/

* {
  box-sizing: border-box; /*assures every element does not exceed its specified width and height*/
} 
  
html {
  scroll-behavior: smooth;
}

body {
  background: var(--main-bg-color); 
  width: 100vw;
  margin: 0;
}

address {
  display: flex;
  justify-content: flex-start;
  margin-left: -35px;
}

header { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0; /*assures the header is 'touching' the top border of the page*/
  left: 0; /*assures the header is 'touching' the left border of the page*/
  max-height: inherit;
  z-index: 100; 
  background-color: var(--main-bg-color);
  border-bottom: solid black 0.2rem;
  width: 100vw;
}



/*----------------------------------------- other selectors -------------------------------------*/

/*----------------------------------------- header ----------------------------------------------*/

#header-wrapper {
  max-height: 43vh;
}

/*-------------------- title ------------------*/

#title-holder {
  display: flex;
  justify-content: center; /*centered flexbox is for centering the title and its border on the y-axis (which is the main axis)*/
  align-items: center; /*centered flexbox is for centering the title and its border on the cross axis (which is the x-axis)*/
  border-bottom: solid black 0.05rem;
  background-color: var(--second-bg-color);
  height: 8.5vh;
}

#header-title {
  /* display: flex; */
  /* justify-content: center; centered flexbox is for centering the title text inside of its border */
  /* align-items: center; */
  font-family: fantasy, monospace;
  border: solid black;
  border-radius: 10%;
  padding-left: 0.1rem;
}


/*------------ photo and contacts -------------*/

#photo-and-contacts-holder{    
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; flexbox is for displaying img and contacts horizontaly inside their parent (that has a column direction) */
}


/*---- photo ----*/

#photo-holder {
  display: flex;
  justify-content: center;
}

#photo-holder img {
  border-radius: 75%;
  border: solid 0.2rem var(--main-details-color);
  width: 10rem;
}

/*---- contacts ----*/
  
#contacts-holder ul {
  list-style-type: none;
  margin: 0;
}

#contacts-holder ul li { 
  font-size: large;
  font-style: normal;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 0.1rem;
}

#contacts-holder ul li:hover {
  text-decoration: none; 
  font-weight: bold;
}

.contact-link {
  display: flex;
}

.logo {
  border-radius: 30%;
  max-width: 1.1rem;
  margin-right: 0.2rem;
}

#github-logo { /* for the purpose of putting a border around github-logo and giving it slightly different width and margin-right */
  border: solid black 0.05rem;
  border-radius: 30%;
  max-width: 1.17rem;
  margin-right: 0.11rem; 
}


/*- menu (only for desktop version)-*/ 

#menu-holder {
  display: none; /*non-available for mobile version*/ 
  justify-content: space-around;
  align-items: center;
  border-top: solid var(--main-details-color) 0.1rem;
  background-color: var(--second-bg-color);
}

#menu-holder ul {
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  font-weight: bold;
  color: var(--main-details-color);
}

.inner-link:hover {text-shadow: 0.5px 1px 1px #B300B3;} /*----- links targeting contents of the same page -----*/



/*---------------------------------------------main-------------------------------------------------*/

#main-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content-wrapper {
  width: 90vw;
  margin: 0 auto;
  padding-top: 30vh;  /* maybe, remove this later*/
  border-left: solid black 0.1rem;
  border-right: solid black 0.1rem;
  box-shadow: 5px 5px 8px 1px #3e3e3e; 
}

main {
  z-index: 0;
}

.div-main {
  border-top: solid var(--second-details-color) 0.1rem;
  width: 100%;
  left: 0;
}

.div-main:last-of-type {
  border-top: none ;
  width: 100%;
}

#profile p {
  padding-left: 0.5rem;    
  padding-right: 0.4rem;
  text-align: justify;
}

.main-headers {
  padding-left: 0.2rem;
}

.sub-headers {
  padding-left: 0.5rem;
  font-size: 1.05rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ul li:not(:first-of-type) {          <--- I do not know why this was here
  text-align: justify;
  padding-right: 0.4rem;
  list-style-type: disc;
} */

.consultant-role-items {
  padding-left: 1rem;
}

.space-div {
  height: 0.1rem; /* Adjust the height as needed */
  background-color: transparent; /* You can set the background color to match your page background */
  /* margin: 10px 0; Add margins for spacing */
  border: none; /* Remove any borders or outlines */
}

.subtitle-dates {
  padding-left: 0.5rem;
  margin-top: -1.05rem ;
  margin-bottom: -0.4rem;
}

.negative-margin-li {
  margin-top: -0.7rem;
}

.non-bullet-point-li {
  list-style-type: none;
  margin-left: -0.75rem;
}

#unimed-list li:nth-last-child(-n+2),
#km-list li:nth-last-child(-n+2) {
 margin-top: -0.15rem;
 
}




/*--------------footer-------------*/

.footer-div {
  border-top: solid black 0.2rem;
  width: 100%;
  background-color: var(--second-bg-color);
  left: 0;
  bottom: 0;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  font-weight: lighter;
  padding-bottom: 1%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer p {
  text-align: center;
}

footer a {
  color: var(--main-details-color);
}

footer a:hover {
  font-weight: bold;
}

p:not(contact) {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/*------------------------------- applied to all hyper-links ------------------------------------------------*/

a:link { text-decoration: none; }

a:visited { text-decoration: none;}

a:active { text-decoration: none;}



/*------------------------------------- media-query (design for desktops) ------------------------------------*/

@media(min-width: 700px) {
  
    /*------------------------------------- type selectors ---------------------------------*/

    header {
      position: fixed;
      max-height: 35vh; /*so that the header fills 35% of the viewport while the main content fills the other 65%*/
    }



    /*------------------------------------ other selectors ---------------------------------*/

    /*------------------------------------------- header -----------------------------------*/

    /* -------------- title -------------- */

    #title-holder {
      height: 8.4vh; /*24% of its parent - #header-wrapper - height*/
    }


    /* --------- photo and contacts ------ */

    #photo-and-contacts-holder {
      flex-direction: row;
      justify-content: space-around;
      height: 22.5vh; /*approx. 64% of its parent - #header-wrapper - height*/
    }


    /*------- photo ------*/

    #photo-holder {
      display: flex;
      width: 30%;
      padding-left: 12rem;
    }

    #photo-holder img {
      height: 11.5rem;
      width: 11.5rem;
    }

    #photo-holder img:hover {
      box-shadow: 2px 2px 2px 2px #B300B3;
    }


    /*------ contacts ---- */

    #contacts-holder {
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: solid black 0.1rem;
      width: 26vw; /*for the e-mail address to stop moving the left-border due to lack of space*/
      margin-left: 7rem;
    }

    #contacts-holder ul {
      width: inherit;
      padding-left: 0.2rem;
      font-size: 1.2rem;
    }
  

    /*------ menu ----- */

    #menu-holder {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      height: 4.1vh; /*approx. 12% of its parent - #header-wrapper - height*/
    }

    #menu-holder ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100vw;
    }



    /*----------------------------------- main page --------------------------------------*/

    #content-wrapper {
      max-width: 70%;
      margin: 0 auto;
      padding-top: 35vh;
      box-shadow: 5px 10px 8px 5px #3e3e3e;
    }
     
    .inner-link:hover {
      text-shadow: 0.5px 1px 1px #B300B3;  /*----- links targeting contents of the same page -----*/
    }
}


/* --------menu------ */ 
  

/* --------does it make sense to drag all the menu-related code to the media-query?------ */ 



    /* #menu-holder { */
      /* justify-content: space-around; */
      /* align-items: center;
      border-top: solid var(--main-details-color) 0.1rem;
      background-color: var(--second-bg-color);
    } */
  
    /* #menu-holder ul { */
      /* display: flex; */
      /* justify-content: space-around;
      align-items: center;
      list-style-type: none;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: large;
      font-weight: bold;
      color: var(--main-details-color);
    }
   */